@font-face {
  font-family: 'raleway-regular';
  src: url('../fonts/raleway-regular.eot');
  src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway-regular.woff') format('woff'),
  url('../fonts/raleway-regular.ttf') format('truetype'),
  url('../fonts/raleway-regular.svg#ralewayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-bold';
  src: url('../fonts/raleway-bold.eot');
  src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway-bold.woff') format('woff'),
  url('../fonts/raleway-bold.ttf') format('truetype'),
  url('../fonts/raleway-bold.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-semibold';
  src: url('../fonts/raleway-semibold.eot');
  src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway-semibold.woff') format('woff'),
  url('../fonts/raleway-semibold.ttf') format('truetype'),
  url('../fonts/raleway-semibold.svg#ralewaysemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fff;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

header ul.social li a,
main .work a .caption
header nav ul li a {
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*  Header  */
@media (min-width: 1099px) {
  header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    min-height: 100%;
    padding: 0 0 0 50px;
    background: #ffffff;
    float: left;
    overflow: hidden;
    z-index: 9999;
  }

  header .logo {
    margin-top: 100px;
    width: 150px;
    margin-left: 30px;
  }

  header nav ul {
    display: block;
    overflow: hidden;
    margin-top: 100px;
    list-style: none;
  }

  header nav ul li {
    display: block;
    margin-bottom: 30px;
  }

  header nav ul li a {
    color: #454545;
    font-family: "raleway-regular", arial;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  header nav ul li a:hover,
  header nav ul li a.selected {
    color: #969595;
  }

  header .footer {
    position: absolute;
    bottom: 25px;
    margin-left: 50px;
  }

  header ul.social {
    list-style: none;
    margin-bottom: 5px;
  }

  header ul.social li {
    display: block;
    float: left;
    position: relative;
    padding-left: 10px;
    margin: 10px 0px -10px 0;
  }

  .vk {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/vk-social.svg) no-repeat;
    background-position: 0 0;
    background-size: contain;
  }

  .vk:hover {
    content: "";
    background: url('../img/vk-social-hover.svg') no-repeat;
    background-size: contain;
  }

  .instagram {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/inst-social.svg) no-repeat;
    background-position: 0 0;
    background-size: contain;
  }

  .instagram:hover {
    background: url('../img/inst-social-hover.svg') no-repeat;
    background-position: center;
    background-size: contain;
  }

  header .rights p {
    color: #454545;
    font-family: "raleway-regular", arial;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 18px;
  }

  header .rights a {
    font-family: "raleway-bold", arial;
    font-weight: bold;
    text-decoration: none;
  }

  #menu_icon,
  .close_menu {
    display: none;
  }
}

#menu_icon,
.close_menu {
  float: right;
  margin-right: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url('../img/men_icons.png') no-repeat;
}

#menu_icon {
  background-position: 0 0;
}

.close_menu {
  background-position: -41px 0;
}

/*  Main  */
.main {
  width: 100%;
  height: 100%;
  padding-left: 300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 55;
  background: #f6f6f6;
  clear: both;
}

/*  Home/portfolio  */
.main .work {
  display: block;
  width: 33.333%;
  height: auto;
  float: left;
  position: relative;
  overflow: hidden;
}

.main .work .media {
  width: 100%;
  vertical-align: middle;
}

.main .work .caption {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  opacity: 0.2;
}

.main .work a:hover .caption {
  opacity: 0;
  transition: 0.5s ease;
}

.work .caption .work_title {
  display: block;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -40px;

}

.main .work .caption h1 {
  position: relative;
  display: inline-block;
  max-width: 90%;
  padding: 20px 0;
  z-index: 77;
  color: #454545;
  font-family: "raleway-regular", arial;
  font-size: 16px;
  letter-spacing: .5px;
  border-bottom: 1px solid #bfbbbb;
  border-top: 1px solid #bfbbbb;
}

/*  Inner Page  */
.top {
  width: 100%;
  height: 100vh;
  margin-bottom: 10px;
  overflow: hidden;
  display: block;
  position: relative;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: url('../img/GY/1.jpg');
  background-size: cover;
}
.top2 {
  width: 100%;
  height: 100vh;
  margin-bottom: 10px;
  overflow: hidden;
  display: block;
  position: relative;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: url('../img/AN/6.jpg');
  background-size: cover;
}
.top2 .title {
  display: inline-block;
  width: auto;
  color: #4b4848;
  font-family: "raleway-regular", arial;
  font-size: 18px;
  font-weight: normal;
  background: rgba(255, 255, 255, .85);
  padding: 10px;
  line-height: 20px;
  margin: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 5%;
}
.top .title {
  display: inline-block;
  width: auto;
  color: #4b4848;
  font-family: "raleway-regular", arial;
  font-size: 18px;
  font-weight: normal;
  background: rgba(255, 255, 255, .85);
  padding: 10px;
  line-height: 20px;
  margin: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 5%;
}

.content_header {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 50%;
  margin-left: -46.36363636363637%;
}

/*  Responsive code  */
@media (max-width: 1099px) {

  header {
    display: block;
    width: 100%;
    min-height: 100px;
    padding: 0;
    position: relative;
  }

  .topCover2 {
    margin-top: 0;
  }

  header .logo {
    margin: 40px 0 20px 30px;
    float: left;
    width: 150px;
  }

  header .footer {
    display: none;
  }

  header #menu_icon,
  header .close_menu {
    float: right;
    margin: 30px 30px 0 0;
  }

  header nav {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 9999;
  }

  header nav ul {
    list-style: none;
    display: none;
    position: relative;
  }

  header nav ul li a {
    display: block;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    color: #454545;
    font-family: "raleway-regular", arial;
    font-size: 14px;
    text-decoration: none;
    border-top: 1px solid #f7f5f5;
    background: #fff;
  }

  header nav ul li a:active {
    background: #f7f5f5;
  }

  #menu_icon,
  .close_menu,
  .show_menu {
    display: block;
  }

  .show_menu {
    display: block;
  }

  .main .work {
    width: 50%;
  }

  .main {
    width: 100%;
    position: relative;
    padding-left: 0;
  }
}

@media (max-width: 550px) {
  .main .work {
    width: 100%;
  }
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  50% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  65% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  40% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  65% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.swing:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 2s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}