* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.services {
  max-width: 1024px;
  margin: 0 auto;
  padding: 65px 0 60px;
  text-align: center;
  margin-left: 300px;
}

h2.services-heading {
  font-family: 'raleway-regular';
  font-weight: normal;
  font-size: 30px;
  color: #41525c;
  text-transform: uppercase;
}

.service-row {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
}

.service-wrapper {
  padding-top: 45px;
  flex-basis: 400px;
}

h3.service-title {
  font-family: 'raleway-regular';
  font-weight: normal;
  font-size: 26px;
  text-transform: uppercase;
  color: black;
  opacity: 0.8;
  padding-top: 20px;
  margin: 10px;
  margin-bottom: 10px;
}

.service-content {
  font-family: 'raleway-regular';
  font-weight: normal;
  font-size: 14px;
  color: #999;
  width: 90%;
  margin: 0 auto;
}

.list-item {
  text-decoration: none;
  padding: 3px;
  color: black;
  list-style: none;
}

.price {
  display: inline-block;
  margin-top: 40px;
  font-family: "raleway-regular", arial;
  font-size: 20px;
  border: solid 0.5px black;
  padding: 10px 20px 10px 20px;
}

.price:hover {
  transform: translate(1.2);
  transition: 200ms;
}

.service-img:hover {
  transform: scale(1.1);
  transition: 1s;
}

.service-img:not(:hover) {
  transition: 1s;
}

@keyframes shake {
  15% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  30% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  40% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  65% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 0;
  }
}

.shake:hover {
  -webkit-animation: s 0.6s ease;
  animation: shake 3s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@media (max-width: 550px) {
  .services {
    max-width: 1024px;
    margin: 0 auto;
    padding: 65px 0 60px;
    text-align: center;
  }
}

@media (max-width: 1099px) {
  .services {
    max-width: 1024px;
    margin: 0 auto;
    padding: 65px 0 60px;
    text-align: center;
  }
}